<h1>New Article</h1>

<%= render "formArticle", article: @article%>


<%= link_to "Return  to Index", "/articles" %>

<script>
    function toggle() {
        var cont = document.getElementById('form');
        if (cont.style.display == 'block') {
            cont.style.display = 'none';
        }
        else {
            cont.style.display = 'block';
        }
    }
</script>